html,
input,
button {
  font-family: Inter, sans-serif;
}

html {
  color: #242529;
  font-size: 16px;
}

a {
  color: #43aa8b;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #16886b;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.container {
  margin: 24px auto;
}

.header {
  text-align: center;

  &__title {
    margin: 0 0 16px;
    font-size: 36px;
    font-weight: 800;
  }

  &__desc {
    font-size: 16px;
  }
}

.drop-area {
  border: 1px dashed #ccc;
  border-radius: 24px;
  max-width: 480px;
  margin: 24px auto;
  padding: 24px;
  transition: border-color 0.3s;

  &.highlight {
    border-color: #16886b;
  }

  &__desc {
    margin: 0 0 16px;
  }

  &__button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 14px;
    color: initial;

    &:hover {
      color: initial;
      background: #ddd;
    }
  }

  &__input {
    display: none;
  }
}

.charts {
  .chart {
    margin: auto;

    &__header {
      font-size: 24px;
      font-weight: 800;
      margin: 0 0 16px;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}

.transactions {
  max-width: 480px;
  margin: auto;

  &__info {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__name {
    margin-bottom: 8px;
  }

  &__account-name {
    font-weight: 600;
    margin-right: 8px;
  }

  &__bank-name {
    color: #737479;
  }

  &__list {
    list-style: none;
  }

  &__summary {
    cursor: pointer;
    font-size: 14px;

    :not(details[open]) & {
      margin-bottom: 8px;
    }
  }
}

.transaction {
  display: flex;
  font-size: 12px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__date {
    width: 16%;
    color: #737479;
    text-align: left;
  }

  &__desc {
    width: 68%;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__amount {
    width: 16%;
    text-align: right;

    &.positive {
      color: #16886b;
    }

    &.negative {
      color: #d4122a;
    }
  }
}

.main {
  flex-grow: 1;
  width: 100%;
}

.header,
.footer {
  flex-shrink: 0;
}

.footer {
  text-align: center;

  .footer__love {
    color: #f94144;
    transition: color 0.3s;

    &:hover {
      color: #d4122a;
    }
  }
}

[hidden] {
  display: none !important;
}
